In [2]:
import pandas as pd
import mlxtend
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import fpgrowth

In [3]:
df = pd.read_csv("./FP.csv",index_col =0)
df.head(10)

,ema(0;0),ema(0;1),ema(0;2),ema(0;3),ema(1;0),ema(1;1),ema(1;2),ema(1;3),ema(2;0),ema(2;1),...,ema(5;3),macd9,macd6,macd10,sar,stoch,5dayGain,20dayGain,20dayLoss,5dayLoss
0,0,1,0,1,0,1,0,1,0,1,...,1,1,1,1,0,1,0,0,0,0
1,0,1,0,0,0,1,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
2,0,1,0,1,0,1,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
3,0,1,0,0,0,1,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
6,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
7,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
8,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0

In [4]:
df.describe()

,ema(0;0),ema(0;1),ema(0;2),ema(0;3),ema(1;0),ema(1;1),ema(1;2),ema(1;3),ema(2;0),ema(2;1),...,ema(5;3),macd9,macd6,macd10,sar,stoch,5dayGain,20dayGain,20dayLoss,5dayLoss
count,121287.000000,121287.000000,121287.000000,121287.000000,121287.000000,121287.000000,121287.000000,121287.000000,121287.000000,121287.000000,...,121287.000000,121287.000000,121287.000000,121287.000000,121287.000000,121287.000000,121287.000000,121287.000000,121287.000000,121287.000000
mean,0.449702,0.279214,0.066512,0.387857,0.387923,0.558353,0.062505,0.370106,0.393480,0.066734,...,0.352577,0.039188,0.054367,0.034282,0.467453,0.886294,0.062381,0.043319,0.028775,0.052833
std,0.497466,0.448615,0.249175,0.487264,0.487279,0.496585,0.242071,0.482835,0.488524,0.249562,...,0.477774,0.194043,0.226741,0.181954,0.498942,0.317455,0.241847,0.203574,0.167173,0.223702
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
df_gain5 = df.loc[(df["5dayGain"] == 1)]
df_gain5.describe()

,ema(0;0),ema(0;1),ema(0;2),ema(0;3),ema(1;0),ema(1;1),ema(1;2),ema(1;3),ema(2;0),ema(2;1),...,ema(5;3),macd9,macd6,macd10,sar,stoch,5dayGain,20dayGain,20dayLoss,5dayLoss
count,7566.000000,7566.000000,7566.000000,7566.000000,7566.000000,7566.000000,7566.000000,7566.000000,7566.000000,7566.000000,...,7566.000000,7566.000000,7566.000000,7566.000000,7566.000000,7566.000000,7566.0,7566.000000,7566.000000,7566.0
mean,0.507534,0.220592,0.085118,0.404837,0.443960,0.454401,0.080492,0.385144,0.463389,0.048506,...,0.353291,0.035554,0.048506,0.030663,0.501983,0.884219,1.0,0.266455,0.006741,0.0
std,0.499976,0.414673,0.279075,0.490893,0.496882,0.497949,0.272071,0.486662,0.498691,0.214848,...,0.478024,0.185187,0.214848,0.172416,0.500029,0.319983,0.0,0.442134,0.081830,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.0
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.0,0.000000,0.000000,0.0
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.0,0.000000,0.000000,0.0
75%,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.0,1.000000,0.000000,0.0
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,0.0

In [6]:
df_fp = fpgrowth(df, min_support=0.3,use_colnames= True)

In [7]:
df_gain20 = df.loc[(df["20dayGain"]==1)]
df_gain20.describe()

,ema(0;0),ema(0;1),ema(0;2),ema(0;3),ema(1;0),ema(1;1),ema(1;2),ema(1;3),ema(2;0),ema(2;1),...,ema(5;3),macd9,macd6,macd10,sar,stoch,5dayGain,20dayGain,20dayLoss,5dayLoss
count,5254.000000,5254.000000,5254.000000,5254.000000,5254.000000,5254.000000,5254.000000,5254.000000,5254.000000,5254.000000,...,5254.000000,5254.000000,5254.000000,5254.000000,5254.000000,5254.000000,5254.000000,5254.0,5254.0,5254.000000
mean,0.546821,0.206890,0.061096,0.459459,0.486296,0.461934,0.053293,0.442901,0.499810,0.047392,...,0.389989,0.039208,0.053483,0.034069,0.532166,0.851351,0.383708,1.0,0.0,0.009136
std,0.497850,0.405114,0.239530,0.498401,0.499860,0.498596,0.224638,0.496776,0.500048,0.212497,...,0.487794,0.194108,0.225016,0.181424,0.499012,0.355776,0.486334,0.0,0.0,0.095153
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.0,0.0,0.000000
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.0,0.0,0.000000
75%,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.0,0.0,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,0.0,1.000000

In [8]:
df_nogain = df.loc[(df["5dayGain"] == 0)&(df["20dayGain"]==0)]
df_nogain.describe()

,ema(0;0),ema(0;1),ema(0;2),ema(0;3),ema(1;0),ema(1;1),ema(1;2),ema(1;3),ema(2;0),ema(2;1),...,ema(5;3),macd9,macd6,macd10,sar,stoch,5dayGain,20dayGain,20dayLoss,5dayLoss
count,110483.000000,110483.000000,110483.000000,110483.000000,110483.000000,110483.000000,110483.000000,110483.000000,110483.000000,110483.000000,...,110483.000000,110483.000000,110483.000000,110483.000000,110483.000000,110483.000000,110483.0,110483.0,110483.000000,110483.000000
mean,0.443091,0.285085,0.065431,0.384457,0.381308,0.568042,0.061530,0.366853,0.385715,0.068318,...,0.351393,0.039472,0.054796,0.034594,0.462668,0.887222,0.0,0.0,0.031127,0.057565
std,0.496753,0.451457,0.247286,0.486469,0.485710,0.495351,0.240301,0.481948,0.486766,0.252292,...,0.477408,0.194716,0.227582,0.182749,0.498607,0.316322,0.0,0.0,0.173662,0.232921
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.0,0.000000,0.000000
75%,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.0,0.0,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0,1.000000,1.000000

In [9]:
df_gain5_des = df_gain5.describe()
df_gain20_des = df_gain20.describe()
df_nogain_des = df_nogain.describe()
for name in df.columns:
    if((df_gain5_des[name]["mean"] - df_nogain_des[name]["mean"])>0.1) or ((df_gain20_des[name]["mean"] - df_nogain_des[name]["mean"])>0.1):
        print(name)

ema(0;0)
ema(1;0)
ema(2;0)
ema(2;2)
5dayGain
20dayGain

In [10]:
del df_gain5["5dayGain"],df_gain5["20dayGain"]
del df_gain20["20dayGain"],df_gain20["5dayGain"]
del df_nogain["5dayGain"],df_nogain["20dayGain"]

In [23]:
patterns_5 = fpgrowth(df_gain5, min_support=0.35, use_colnames=True, max_len=None, verbose=0)
patterns_20 = fpgrowth(df_gain20, min_support=0.35, use_colnames=True, max_len=None, verbose=0)
patterns_ng = fpgrowth(df_nogain, min_support=0.2, use_colnames=True, max_len=None, verbose=0)

In [24]:
patterns_5.describe()

         support
count  57.000000
mean    0.409271
std     0.077620
min     0.351044
25%     0.370738
50%     0.384615
75%     0.420434
max     0.884219

In [13]:
patterns_20.describe()

          support
count  169.000000
mean     0.398294
std      0.053132
min      0.350019
25%      0.367720
50%      0.385801
75%      0.411686
max      0.851351

In [14]:
patterns_ng.describe()

          support
count  776.000000
mean     0.243530
std      0.049135
min      0.200022
25%      0.214022
50%      0.228298
75%      0.261330
max      0.887222

In [15]:
df_fp.head(5)

    support    itemsets
0  0.886294     (stoch)
1  0.558353  (ema(1;1))
2  0.522067  (ema(3;3))
3  0.387857  (ema(0;3))
4  0.370106  (ema(1;3))

In [16]:
def sig_patt(row,length,patterns_ng,df_nogain):
    pattern = row["itemsets"]
    confidence = -1.0
    for i,r in patterns_ng.iterrows():
        if (pattern == r["itemsets"]):#find the pattern if it's significant#
            confidence = (row["support"]*length/(row["support"]*length+r["support"]*len(df_nogain)))#Precision#
            #How many of those positive are negative that will hurt us badly#
            if confidence>=(length/(len(df_nogain)+length)):
                return confidence,True
        else:
            continue
    if confidence == -1.0:
        return 0.0,True
    else:
        return confidence,False

In [17]:
day5=[]
length = len(df_gain5)
print(length/(len(df_nogain)+length))
for i,row in patterns_5.iterrows():
    conf,boo = sig_patt(row,length,patterns_ng,df_nogain)
    if boo:
        day5.append([conf,row["itemsets"]])

0.06409202958093672

In [18]:
day20=[]
length = len(df_gain20)
print(length/(len(df_nogain)+length))
for i,row in patterns_20.iterrows():
    conf,boo = sig_patt(row,length,patterns_ng,df_nogain)
    if boo:
        day20.append([conf,row["itemsets"]])

0.04539602719959909

In [19]:
pd.DataFrame(day5).sort_values(by=0,ascending = False).head(10)

           0                                         1
18  0.083144                 (ema(0;0), ema(2;2), sar)
15  0.082225                           (ema(2;2), sar)
41  0.081911  (ema(0;0), ema(2;0), ema(1;0), ema(2;2))
26  0.081887            (ema(0;0), ema(2;0), ema(2;2))
40  0.081868            (ema(0;0), ema(2;2), ema(1;0))
39  0.081716            (ema(2;0), ema(1;0), ema(2;2))
31  0.081664                      (ema(2;2), ema(1;0))
22  0.081593                      (ema(2;0), ema(2;2))
12  0.081300                      (ema(0;0), ema(2;2))
53  0.081223                         (ema(2;2), stoch)

In [20]:
pd.DataFrame(day20).sort_values(by=0,ascending = False).head(10)

           0                                                  1
62  0.064553           (ema(2;0), ema(1;0), ema(3;3), ema(2;2))
63  0.064523  (ema(0;0), ema(1;0), ema(2;2), ema(2;0), ema(3...
58  0.064498                     (ema(2;2), ema(1;0), ema(3;3))
61  0.064467           (ema(0;0), ema(2;2), ema(1;0), ema(3;3))
66  0.063957      (ema(0;0), ema(1;0), sar, ema(2;2), ema(2;0))
64  0.063864                (ema(0;0), ema(2;2), ema(1;0), sar)
65  0.063843                (ema(2;0), ema(1;0), sar, ema(2;2))
59  0.063744                          (ema(2;2), ema(1;0), sar)
37  0.063701                (ema(0;0), ema(2;0), sar, ema(2;2))
32  0.063674           (ema(0;0), ema(2;0), ema(3;3), ema(2;2))

In [21]:
df_loss5 = df.loc[(df["5dayLoss"] == 1)]
df_loss20 = df.loc[(df["20dayLoss"] == 1)]
del df_loss5["5dayGain"],df_loss5["20dayGain"]
del df_loss20["20dayGain"],df_loss20["5dayGain"]
del df_loss5["5dayLoss"],df_loss5["20dayLoss"]
del df_loss20["20dayLoss"],df_loss20["5dayLoss"]

In [22]:
p5 = fpgrowth(df_loss5, min_support=0.2,use_colnames= True)
len(p5)

458

In [25]:
p20 = fpgrowth(df_loss20, min_support=0.2,use_colnames= True)
len(p20)

793

In [26]:
p5.sort_values(by="support",ascending = False).head(20)

      support                        itemsets
0    0.889045                         (stoch)
1    0.528558                      (ema(1;1))
2    0.490793                      (ema(3;3))
15   0.482054               (stoch, ema(1;1))
7    0.449906                           (sar)
14   0.447097                      (ema(2;2))
8    0.438358                      (ema(0;0))
9    0.397004                      (ema(2;0))
16   0.384207               (stoch, ema(3;3))
10   0.382959                      (ema(1;0))
167  0.377341            (ema(0;0), ema(2;0))
190  0.373596            (ema(0;0), ema(1;0))
453  0.371879               (ema(2;2), stoch)
151  0.370474                 (sar, ema(3;3))
191  0.362672            (ema(2;0), ema(1;0))
11   0.355805                      (ema(0;3))
196  0.353777  (ema(0;0), ema(2;0), ema(1;0))
154  0.353464                 (ema(0;0), sar)
155  0.351748            (ema(0;0), ema(3;3))
152  0.350499                    (stoch, sar)

In [27]:
p20.sort_values(by="support",ascending = False).head(20)

      support                        itemsets
0    0.851289                         (stoch)
1    0.555874                      (ema(3;3))
2    0.517192                           (sar)
10   0.514040                      (ema(1;1))
3    0.506590                      (ema(0;0))
4    0.499427                      (ema(2;2))
5    0.456734                      (ema(2;0))
6    0.445845                      (ema(1;0))
566  0.443553               (stoch, ema(1;1))
66   0.438395            (ema(0;0), ema(1;0))
39   0.437822            (ema(0;0), ema(2;0))
67   0.422350            (ema(2;0), ema(1;0))
16   0.420057                 (sar, ema(3;3))
19   0.417765                 (ema(0;0), sar)
15   0.414900               (stoch, ema(3;3))
72   0.414900  (ema(0;0), ema(2;0), ema(1;0))
26   0.405444            (ema(0;0), ema(2;2))
27   0.399713               (ema(2;2), stoch)
20   0.397708            (ema(0;0), ema(3;3))
40   0.396562            (ema(2;0), ema(2;2))

In [28]:
df_gain5_des = df_loss5.describe()
df_gain20_des = df_loss20.describe()
df_nogain_des = df_gain5.describe()
for name in df.columns:
    if name == "5dayGain" or name == "5dayLoss" or name == "20dayGain" or name == "20dayLoss":
        continue
    if(abs(df_gain5_des[name]["mean"] - df_nogain_des[name]["mean"])>0.1) or (abs(df_gain20_des[name]["mean"] - df_nogain_des[name]["mean"])>0.1):
        print(name)
#Stock market is a chaotic place Morty#

ema(1;1)
ema(4;3)
ema(5;0)
ema(5;1)